body {
    background: rgb(101,23,88);
    background: linear-gradient(90deg, rgba(101,23,88,1) 0%, rgba(49,21,98,1) 35%, rgba(27,24,52,1) 100%);
    font-family: sans-serif;
   

}

h1{
    color: #ff1675;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 50px;
}


h2{
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-left: 50px;
}


p{
    color: white;
    margin-left: 50px;
}

a{
    color: white;
    background-color: #ff1675;
    padding: 20px 30px;
    border-radius: 30px;
    
    text-decoration: none;
    font-size: 14px;
    margin-left: 50px;
    padding: 20px 30px;
}
